.contenedorExterno {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.contenedorInterno {
    max-width: calc(100% - 35px);

}

.barrita {
    background-color: #b6d9d9;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;

}

.logo {
    margin-top: 66px;
    margin-left: 30px;
    font-size: 60px;
    font-family: 'Segoe UI Bold';
    color: white;
    width: 60px;
}

.menu {
    margin-top: 66px;
    margin-left: 60px;
    margin-right: 75px;
}


.menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;

}

.menu li {
    list-style: none;
    margin-left: 5px;

}

.menu a {
    font-family: 'Segoe UI Bold';
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

.legend {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: black;
}

.cursoid {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;

}

#idCurso {
    width: 320px;
    height: 40px;
}


.cursoId {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}

.categoriaNombre {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}
#categoria{
    width: 320px;
    height: 40px;
}

.cursoNombre {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;

}

#nombreCurso {
    width: 320px;
    height: 40px;
}

.cursoImg {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}

.file {
    width: 820px;
    height: 40px;
    font-size: 40px;

    padding: 40px;
}

.cursoDescripcion {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}

#descripcionCurso {
    width: 500px;
    height: 400px;
}

#field {
    background-color: #4D869C;
    width: 80%;
}

#button {
    padding: 20px;
    background-color: #b6d9d9;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 620px;
    border-color: #b6d9d9;

}

@media screen and (max-width:768px) {

    .barrita {
        background-color: #b6d9d9;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;

    }

    .logo {
        margin-top: 66px;
        margin-left: 30px;
        font-size: 60px;
        font-family: 'Segoe UI Bold';
        color: white;
        width: 60px;
    }

    .menu {
        margin-top: 66px;
        margin-left: 60px;
        margin-right: 75px;
    }


    .menu ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        gap: 20px;

    }

    .menu li {
        list-style: none;
        margin-left: 5px;

    }

    .menu a {
        font-family: 'Segoe UI Bold';
        font-weight: bold;
        font-size: 30px;
        color: #474747;
        text-decoration: none;
        text-transform: uppercase;
        color: white;

    }

    .legend {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: black;
    }

    .cursoNombre {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;

    }

    #nombreCurso {
        width: 320px;
        height: 40px;
    }

    .cursoImg {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;
    }

    .file {
        width: 820px;
        height: 40px;
        font-size: 40px;

        padding: 40px;
    }

    .cursoDescripcion {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;
    }

    #descripcionCurso {
        width: 500px;
        height: 400px;
    }

    #field {
        background-color: #4D869C;
        width: 98%;
    }

    #button {
        padding: 20px;
        background-color: #b6d9d9;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 620px;
        border-color: #b6d9d9;

    }
}

@media screen and (min-width:1400px) {

    .barrita {
        background-color: #b6d9d9;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;

    }

    .logo {
        margin-top: 66px;
        margin-left: 30px;
        font-size: 60px;
        font-family: 'Segoe UI Bold';
        color: white;
        width: 60px;
    }

    .menu {
        margin-top: 66px;
        margin-left: 60px;
        margin-right: 75px;
    }


    .menu ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        gap: 20px;

    }

    .menu li {
        list-style: none;
        margin-left: 5px;

    }

    .menu a {
        font-family: 'Segoe UI Bold';
        font-weight: bold;
        font-size: 30px;
        color: #474747;
        text-decoration: none;
        text-transform: uppercase;
        color: white;

    }

    .legend {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: black;
    }

    .cursoNombre {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;

    }

    #nombreCurso {
        width: 320px;
        height: 40px;
    }

    .cursoImg {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;
    }

    .file {
        width: 820px;
        height: 40px;
        font-size: 40px;

        padding: 40px;
    }

    .cursoDescripcion {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        color: white;
    }

    #descripcionCurso {
        width: 500px;
        height: 400px;
    }

    #field {
        background-color: #4D869C;
        width: 98%;
    }

    #button {
        padding: 20px;
        background-color: #b6d9d9;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 620px;
        border-color: #b6d9d9;

    }
}